In [13]:
class soluition:
    def twosum(self, nums:list[int], target:int) -> list[int]:
        new_num = nums.copy()
        new_num.sort()
        print(f"sorted values {new_num}")

        for i in range(len(new_num)):
            second_num = target - new_num[i]
            if second_num in new_num and new_num.index(second_num) !=i:
                #print(f"first num {new_num[i]} and second num {second_num}")
                return [nums.index(new_num[i]), nums.index(second_num, nums.index(second_num) + 1)]

s1 = soluition()
s1.twosum([5, 3, 7 ,8, 8, 4, 3], 6)

sorted values [3, 3, 4, 5, 7, 8, 8]

[1, 6]

In [11]:
class solution4:
    def sumoftwo(self,nums,target):
        num_copy= nums.copy()
        num_copy.sort()
        print(f"sorted values {num_copy}")
        i=0
        j=len(num_copy)-1
        for i in range(len(num_copy)):
            while i < j:
                #print(f"first num {num_copy[i]} and second num {num_copy[j]}")
                sum = num_copy[i] + num_copy[j]
                if sum == target:
                    return [nums.index(num_copy[i]), nums.index(num_copy[j], nums.index(num_copy[i])+1)]
                elif sum < target:
                    i +=1
                else:
                    j -=1

        return 1
s2 = solution4()
result =s2.sumoftwo([5, 3, 7 ,8, 4, 4, 3], 6)
print(result)

sorted values [3, 3, 4, 4, 5, 7, 8]
[1, 6]

In [ ]:
class solution:
    def sell_or_buy(self, prices:list[int]) -> int:
        #[10,3,7,9,5,2,1,3,6,4]
        min_price = prices[0]
        max_profit =0
        
        
        for i in range(1, len(prices)):
            if prices[i] >= prices[i-1]:
                continue
            else:
                
                max_profit = max_profit + (prices[i-1] - min_price)
                min_price = prices[i]

        return max_profit        

s2 = solution()
print(s2.sell_or_buy([10,3,7,9,5,2,1,3,6,4]))

11

In [ ]:
class soluition:
    def sell_buy(self, prices):
        max_profit = 0
        #3,7,9,5,2,1,3,6,4
        #7-3 = 4
        #9-7 = 2
        #3-1 = 2
        #6-3 = 3
        for i in range(1,len(prices)):
            if prices[i] > prices[i-1]:
                max_profit =max_profit + (prices[i] - prices[i-1])
        return max_profit
s3 = soluition()
print(s3.sell_buy([3,7,9,5,2,1,3,6,4]))

11

In [25]:
## solution to find the unique value in th elist
class soluition():
    def find_uniq(self, arr):
        result=0
        for i in arr:
            result = result ^ i
        return result

s4 = soluition()
print(s4.find_uniq([1,1,1,2,2,2,3,3,3,4]))

4

In [27]:
## count the majority element in an array
class solution:
    def majority_element(self, nums:list[int]) -> int:
        count = 0
        majority = 0

        for num in nums:
            if count == 0:
                majority = num
            count += (1 if num == majority else -1)
        return majority

s5 = solution()
print(s5.majority_element([2,2,1,1,1,2,2]))

2

In [29]:
# remove duplicated from sorted array
#0,0,1,1,1,2,2,3,3,4]
class solution:
    def remove_dup(self, nums):

        size =len(nums)
        if size == 0:
            return 0
        insertindex = 1
        for i in range(1, size):
            if nums[i] != nums[i-1]:
                nums[insertindex] = nums[i]
                insertindex +=1
        return insertindex, nums
s6 = solution()
print(s6.remove_dup([0,0,1,1,1,2,2,3,3,4]))

(5, [0, 1, 2, 3, 4, 2, 2, 3, 3, 4])

In [30]:
# rotate an array to the right by k steps
class soluition:
    def rotate_arr(self, nums,k):
        k = k % len(nums)
        nums[:] = nums[-k:] + nums[:-k]
        return nums
s7 = soluition()
print(s7.rotate_arr([1,2,3,4,5,6,7], 3))

[5, 6, 7, 1, 2, 3, 4]

In [35]:
import pandas as pd

df = pd.DataFrame({
    "date": ["2024-01-01", "2024-01-02", "2024-01-03"],
    "col2": [10, 30, 20],
    "col3": [5, 15, 10]
})
df["date"] = pd.to_datetime(df["date"])
print(df)

        date  col2  col3
0 2024-01-01    10     5
1 2024-01-02    30    15
2 2024-01-03    20    10

In [32]:
df.sort_values(by=["col2", "col3"], ascending=[False, False], inplace=True)
print(df)

        date  col2  col3
1 2024-01-02    30    15
2 2024-01-03    20    10
0 2024-01-01    10     5

In [ ]:
resource "google_pubsub_topic" "topic" {
  name = "events"
}
resource "google_pubsub_subscription" "sub" {
  name  = "events-sub"
  topic = "events"
}

In [16]:
import os
import pandas as pd
os.getcwd()

'e:\\100_days\\Practice_prgrams'

In [29]:
data_df = pd.read_csv("e:\\100_days\\data\\orders.csv",names= ["order_id", "customer_id", "order_date", "order_amount"])

In [30]:
data_df.head()

   order_id            customer_id  order_date     order_amount
0         1  2013-07-25 00:00:00.0       11599           CLOSED
1         2  2013-07-25 00:00:00.0         256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0       12111         COMPLETE
3         4  2013-07-25 00:00:00.0        8827           CLOSED
4         5  2013-07-25 00:00:00.0       11318         COMPLETE

In [48]:
s1 = "my name is khan, and i live in India, and i love India"

In [49]:
li = s1.split(" ")

In [50]:
for i in range(len(li)):
    #print(f"type: {type( li[i])}")
    li[i] = li[i].replace(",", "")

In [55]:
dict = {}
for i in li:
    if i in dict:
        dict[i] = dict[i] + 1
    else:
        dict[i] = 1
for key, value in dict.items():
    if value > 1:
        print(f"{key} : {value}")

and : 2
i : 2
India : 2

In [52]:
print(dict)

{'my': 1, 'name': 1, 'is': 1, 'khan': 1, 'and': 2, 'i': 2, 'live': 1, 'in': 1, 'India': 2, 'love': 1}